################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gamenvy
/bin/*
/obj/*
/Interfaces/bin/*
/Interfaces/obj/*
/Models/bin/*
/Models/obj/*
/Services/bin/*
/Services/obj/*
/Repositories/bin/*
/Repositories/obj/*
/Tests/bin/*
/Tests/obj/*
/gamenvy.csproj.user
/Interfaces/Interfaces.csproj.user
/SharedObjects/bin/*
/SharedObjects/obj/*
