@page "/valorant"
<title>Game Envy: Valorant</title>
<div class="row h-100">
    <div class="col-5">
        <img style="width: 15%;" class="float-right" src="/media/riot/valorant/valorant-logo.png" alt="Valorant-Logo" />
    </div>
    <div class="col-7" style="margin-top:auto;margin-bottom:auto;">
        <h1>Valorant</h1>
    </div>
</div>

@if (CharacterList != null)
{
    foreach (var character in CharacterList)
    {
        <div class="row">
            <div class="col-6">
                @character.Name
            </div>
        </div>
    }
}
else
{
    <h4>Loading</h4>
}

@*<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card midnight-blue cursor-pointer">
                <img class="card-img-top" src="/media/riot/valorant/valorant-logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Valorant</h5>
                    <p class="card-text">Access player data, character info and more</p>
                </div>
            </div>
        </div>
    </div>
</div>*@
