@page "/"
<h1>Game Envy</h1>

<AuthorizeView Roles="Administrator">
        You are an authorized admin
</AuthorizeView>

<AuthorizeView Roles="User">
        You are an authorized user
        Login to get started
</AuthorizeView>

