<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Game Envy</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" Match="NavLinkMatch.All" @onclick="()=>expandGames = !expandGames">
                <span class="fa fa-gamepad mr-3" aria-hidden="true"></span> Games
            </NavLink>
            @if (expandGames)
            {
                <NavLink class="expand-menu nav-link left-margin-1rem" href="/valorant">
                    <img class="width-height-25" src="/media/riot/valorant/valorant-logo.png" aria-hidden="true" />
                    <span class="left-margin-1rem">Valorant</span>
                </NavLink>
                <NavLink class="expand-menu nav-link left-margin-1rem" href="/diablo3">
                    <img class="width-height-25" src="/media/blizzard/diablo/diablo-logo.png" aria-hidden="true" />
                    <span class="left-margin-1rem">Diablo III</span>
                </NavLink>
                <NavLink class="expand-menu nav-link left-margin-1rem" href="/tft">
                    <img class="width-height-25" src="/media/riot/tft/tft-logo.png" aria-hidden="true" />
                    <span class="left-margin-1rem">Team Fight Tactics</span>
                </NavLink>
                <NavLink class="expand-menu nav-link left-margin-1rem" href="/lol">
                    <img class="width-height-25" src="/media/riot/lol/lol.png" aria-hidden="true" />
                    <span class="left-margin-1rem">League of Legends</span>
                </NavLink>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/riotgames" Match="NavLinkMatch.All">
                <span class="fa fa-gamepad mr-3" aria-hidden="true"></span> Riot Games
            </NavLink>
        </li>
        <AuthorizeView Roles="Administrator">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/manage" Match="NavLinkMatch.All">
                    <span class="fa fa-user-cog mr-3" aria-hidden="true"></span> Admin Panel
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandGames = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
